<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><%= link_to 'Home', root_url %> | <%= link_to 'Articles', articles_path %> | <%= link_to 'About', about_url %></p>
    <% flash.each do |name, msg| %>
    <p><%= msg %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
